<div class="slds-p-around--small fade" ng-hide="cc.util.loading && !cc.util.clicked ">

	<!-- Logo and info block -->
	<!-- <div style="position:relative;">
		<div class="slds-align--absolute-center slds-p-bottom--small">
			<img src="client/assets/servlet.png" class="logo-sm">
		</div>
		<div class="home">
			<span class="slds-icon_container slds-icon_container--circle"
				ng-click="cc.goHome()" title="Go home">
				<svg class="slds-icon  slds-icon--small " aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/standard-sprite/svg/symbols.svg#home"></use>
				</svg>
			</span>
		</div>
		<div class="release-info">
			<span class="slds-icon_container slds-icon_container--circle"
				ng-click="cc.util.showInfo = true" title="Release notes">
				<svg class="slds-icon slds-icon--small " aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/action-sprite/svg/symbols.svg#info"></use>
				</svg>
			</span>
			
		</div>
	</div> -->

	<!-- Serach box -->
<!-- 	<div class="slds-panel slds-m-bottom--x-small">
		<div class="slds-size--1-of-1">
			<div class="slds-form-element__control">
			  <div class="slds-input-has-icon slds-input-has-icon--right">
			    <svg aria-hidden="true" class="slds-input__icon">
			      <use xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
			    </svg>
			    <input class="slds-lookup__search-input slds-input" 
			    	type="search" 
			    	placeholder="Search contacts" 
			    	ng-model='cc.model.filter'
			    	ng-keypress="cc.keyDownFunc($event)"
			    	focus-me="!cc.util.loading"/>
			  </div>
			</div>
		</div>
	</div> -->


  <div class="slds-panel">
		<div class="slds-box" style="padding: 0.7rem; overflow: auto; padding-bottom: 30px">
		  <div class="slds-size--1-of-1 slds-align--absolute-center slds-m-bottom--x-small" 
		  	ng-repeat="contact in cc.model.contactsFiltered = (cc.model.contacts | filter: cc.model.filter | orderBy : '+Name')">
			  <button type="button"class="slds-button line-h slds-button--neutral wide-sm">
			  	<div class="truncate">{{contact.Name}}</div>
			  </button>			  
			</div>
		</div>
	</div>

	<!-- Log out block -->
	<!-- <div class="slds-align--absolute-center slds-p-around--xx-small">
		<div class="log-out-container" style="background: #fff; height: 60px; width: 60px; border-radius: 50%; padding: 10px; border-bottom: 1px solid #d8dde6">
			<span class="slds-icon_container log-out slds-icon_container--circle "
				ng-click="cc.logOut()">
				<svg aria-hidden="true" class="slds-icon slds-icon--small">
					<use xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#power"></use>
				</svg>
			</span>
		</div>
	</div> -->
</div>

<!-- <div class="slds-spinner_container fade" ng-show="cc.util.loading">
  <div class="slds-spinner--brand slds-spinner slds-spinner--medium" role="alert">
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div> -->


<!-- Description modal -->
<!--< div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open slide" ng-show="cc.util.descrModal">
  <div class="slds-modal__container">
    <div class="slds-modal__header">
      <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" ng-click="cc.util.descrModal = false">
        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
          <use xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
      <h3 id="header43" class="slds-text-heading--medium">What are you gonna do, Bro?</h3>
    </div>
    <div class="slds-modal__content slds-p-around--medium">
    	<form name="descrForm" novalidate>
    		<textarea name="descr" class="slds-textarea" placeholder="Description" 
    		ng-model="cc.model.descr" 
    		ng-minlength="5"  
    		ng-maxlength="255" 
    		ng-required="true" 
    		focus-me="cc.util.descrModal" 
    		ng-keypress="cc.descriptionInputHandle($event.which)"></textarea>
    	</form>
    </div>
    <div class="slds-modal__footer">
      <button class="slds-button slds-button--brand" ng-disabled="descrForm.$invalid" ng-click="cc.login()">Go!</button>
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open fade" ng-show="cc.util.descrModal"></div> -->


<!-- Credetntials details modal -->
<!--< div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open slide" ng-show="cc.util.showDetails">
  <div class="slds-modal__container">
    <div class="slds-modal__header">
      <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" ng-click="cc.util.showDetails = false">
        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
          <use xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
      <h3 id="header43" class="slds-text-heading--medium">
      	<div class="truncate-l">{{cc.model.contactsFiltered[cc.util.showDetailsFor].Name}}</div>
      </h3>
    </div>
    <div class="slds-modal__content slds-p-around--medium">
    	<div>
    		<b>Username</b>
				<button class="btn slds-button" ngclipboard data-clipboard-target="#usernameC">Copy</button>
				<div id="usernameC">
					{{cc.model.contactsFiltered[cc.util.showDetailsFor].Login__c}}
				</div>
    	</div>
    	<div>
    		<b>Password</b>
				<button class="btn slds-button" ngclipboard data-clipboard-target="#passC">Copy</button>
				<div id="passC">
					{{cc.model.contactsFiltered[cc.util.showDetailsFor].Password__c}}
				</div>
    	</div>
    	<div>
    		<b>Password + Token</b>
				<button class="btn slds-button" ngclipboard data-clipboard-target="#passTokenC">Copy</button>
				<div id="passTokenC">
					{{cc.model.contactsFiltered[cc.util.showDetailsFor].Password__c + cc.model.contactsFiltered[cc.util.showDetailsFor].Token__c}}
				</div>
    	</div>
    	<div>
    		<b>Orgtype</b>
				<div>{{cc.model.contactsFiltered[cc.util.showDetailsFor].Type__c}}</div>
    	</div>
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open fade" ng-click="cc.util.showDetails = false" ng-show="cc.util.showDetails"></div>
 -->

<!-- Release notes modal -->
<!-- <div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open slide" ng-show="cc.util.showInfo">
  <div class="slds-modal__container">
    <div class="slds-modal__header  release-notes">
      <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" ng-click="cc.util.showInfo = false">
        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
          <use xlink:href="vendor/css/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
      <h3 class="slds-text-heading--medium">Release notes</h3>
    </div>
    <div class="slds-modal__content slds-p-around--medium release-notes" style="padding-top:0;">
    	<div class="notes">
    		<b>Enter</b> - Open in new tab
    	</div>
    	<div class="notes">
    		<b>Ctrl + Enter</b> - Open in new window
    	</div>
    	<div class="notes">
    		<b>Shitft + Enter</b> - Open in incognito
    	</div>
    	<div class="notes">
    		<b>Ctrl + Q</b> - Open details (non-production)
    	</div>
    	<div class="notes">
    		<b>Alt + H</b> - Go to home org
    	</div>
    	<div class="notes">
    		<b>Ctrl + Z</b> - Close modals
    	</div>
    	<div class="notes">
    		<b>Ctrl + ?</b> - Help
    	</div>
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open fade" ng-click="cc.util.showDetails = false" ng-show="cc.util.showInfo"></div> -->