body {
	background: #f4f6f9;
	width: 420px;
	height: 470px;
}

.wide {
	width: 100%;
	font-size: 14px;
	padding: 5px;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-l {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wide-sm {
	color: #4898E8;
	width: 100%;
	font-size: 13px;
	text-align: left;
	height: 39px;
	transition: all ease-in-out 0.2s;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: none;
}

.small-button {
	padding-left: 5px;
	padding-right: 3px;
}

.logo {
	width: 200px;
}

.logo-sm {
	width: 100px;
}

.bordered {
	border: 1px solid #d8dde6;
}

.line-h {
	line-height: 1.3rem;
}

.button-icon {
	padding: 7px;
	padding-top: 8px;
	margin-left: 5px;
	cursor: pointer;
	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.1s;
}

.open-window {
	background: #4DCBEB; 
}
.open-window:hover {
	background: #43B0CC; 
}

.open-incorgnito {
	background: #41D9B8; 
}
.open-incorgnito:hover {
	background: #37BDA0; 
}

.log-out-container {
	display: block;
	position: relative;
	top: -35px;
	// transform: translate (-20px,0);
}
.log-out {
	cursor: pointer;
	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.1s;
	background: #5babfe;
}
.log-out:hover {
	background: #2887e8; 
}

.small-icon {
	padding: 2px;
	margin:  5px;
	margin-left: 0;
}

.x-small-icon {
	padding: 4px;
	margin:  5px;
	margin-left: 3px;
}

.org-icon {
	padding: 2px; 
	background: #5babfe; 
	margin-left: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.org-icon:hover {
	background: #2887e8; 
}

.home {
	position: absolute; 
	top:0px; 
	right: 55px;
	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.2s;
	cursor: pointer;
}

.release-info {
	position: absolute; 
	top:0px; 
	right: 10px;
	cursor: pointer;
}
.home span, .release-info span {
	background: #4DCBEB; 
	opacity: 0.5; 
	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.2s;
}
.home span:hover, .release-info span:hover {
	opacity: 1; 
}


.release-notes {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-bottom: none;
}
.notes {
	margin:6px;
}

.btn {
	font-style: italic;
	line-height: 1rem;
}

/**************************** 
 *
 * 	ANIMATIONS 
 * 
 *****************************/
 

 .fade {
 	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.3s;
 }
 .fade.ng-hide {
 	opacity: 0;
 }

 .slide {
 	transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.2s;
 }
 .slide.ng-hide {
 	opacity: 0;
 	transform: translate(0, 30px);
 }

