<div class="slds-p-around--x-large">
	<div class="slds-align--absolute-center slds-p-bottom--medium">
		<img src="client/assets/servlet.png" class="logo">
	</div>
  <div class="slds-panel">
		<div class="slds-box">
			<div class="slds-size--1-of-1 slds-align--absolute-center">
			  <button type="button" 
			  	class="slds-button slds-button--brand  wide"
			  	ng-click="ch.loginProd()">Salesforce Login</button>
			</div>
		</div>
	</div>
	<div class="slds-align--absolute-center slds-p-around--medium">
	</div>
</div>